@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: 'Inter';
    src: url('/Inter-Italic-VariableFont_opsz,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: 'Inter', system-ui, sans-serif;
}