---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <main>
        <h1 class="text-5xl font-bold">Sobre Nosotros</h1>
        <p class="text-gray-500">
            Somos un equipo de entusiastas de SpaceX que nos apasiona la
            tecnología espacial y los avances que SpaceX está haciendo para la
            humanidad.
        </p>
    </main>
</Layout>
