---

---

<footer class="max-w-xl mx-auto">
    <span
        class="text-xl text-sky-400
            font-mono px-3 py-1 border rounded-full
            shadow-sm items-center bg-black/60"
    >
        @EduardoRivasDev</span
    >
    <section class="flex flex-row gap-6">
        <img
            src="/instagram.svg"
            alt="Instagram"
            class="size-12 p-2 flex items-center justify-center hover:scale-110 transition-transform"
        />
        <img
            src="/X.svg"
            alt="X"
            class="size-12 p-2 flex items-center justify-center hover:scale-110 transition-transform"
        />
        <img
            src="/facebook.svg"
            alt="Facebook"
            class="size-12 p-2 flex items-center justify-center hover:scale-110 transition-transform"
        />
    </section>
</footer>
