---

---

<footer
    class="w-full py-2 bg-gradient-to-t from-black via-gray-900 to-gray-800"
>
    <div class="flex gap-6 items-center justify-center pb-1">
        <span
            class="text-xl text-sky-400
            font-mono px-3 py-1 border rounded-full
            shadow-sm bg-black/60"
        >
            @EduardoRivasDev</span
        >
    </div>
    <section class="flex gap-6 items-center justify-center">
        <a href="https://x.com" target="_blank">
            <img
                src="/X.svg"
                alt="X"
                class="size-10 sm:size-14 p-2 border rounded-2xl border-gray-600 bg-gray-600/60 hover:scale-110 transition-transform"
            />
        </a>
        <a href="https://instagram.com" target="_blank">
            <img
                src="/instagram.svg"
                alt="Instagram"
                class="size-10 sm:size-14 p-2
                border rounded-2xl border-gray-600
                bg-gradient-to-tr from-yellow-400/80 via-pink-500/80 to-purple-600/80 hover:scale-110 transition-transform"
            />
        </a>
        <a href="https://facebook.com" target="_blank">
            <img
                src="/facebook.svg"
                alt="Facebook"
                class="size-12 sm:size-16 p-2 hover:scale-110 transition-transform"
            />
        </a>
    </section>
    <p class="text-[#d8e3ec] text-sm mt-2 text-center items-center">
        © 2026 Eduardo Rivas. Casi todos los derechos reservados.
    </p>
</footer>
